:root {
  --white: #ffffff;
  --primary: #0264fb;
  --secondary: #ffb03a;
  --gray: #4b4b4b;
  --dark: #000000;
}
html {
  box-sizing: border-box;
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
    background: #f2f2f2;
}
header {
    width: 100%;
    background-color: var(--primary);
    top: 0;
}

.logo h2 {
    color: var(--white);
}
.menu {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.enlaces {
    display: flex;
    flex-direction: column;
}
.enlaces a {
    text-align: center;
    text-decoration: none;
    color: var(--white);
    padding: 1em;
    font-size: 1em;
}

.enlaces a:last-of-type {
    background-color: var(--secondary);
}
@media(min-width:768px){
    .menu, .enlaces {
        flex-direction: row;
    }
}

.hero {
    position: relative;
    height: 35em;
    background: url(../images/hero.png) no-repeat center;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content {
    align-items: center;
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media(min-width:768px){
    .hero-content{
        flex-direction: row;
    }
}
.hero-content img {
    width: 30em;
    height: auto;
    flex: 1;
}
.descripcion {
    color: var(--white);
    flex: 1;
}

.plan {
    margin-top: 4em;
    text-align: center;
    color: var(--dark);
    margin-bottom: 4em;
}

.c-planes {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(min-width:768px){
    .c-planes{
        flex-direction: row;
    }
}
.c-plan {
    flex: 1;
    text-align: center;
    background: var(--white);
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
}

.specs {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.specs img, .s-des{
    display: inline-block;
}

.primero,.segundo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.primero div,.segundo div {
    flex: 1;
    background: var(--white);
    margin-left: 1em;
    padding: 2em;
}


@media(min-width:768px){
    .primero,.segundo {
        flex-direction: row;
    }
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.contacto a {
    text-decoration: none;
    color: var(--primary);
}
.contacto p {
    color: var(--gray);
}
.contacto div {
    flex: 1;
    text-align: center;
}

.contacto div:first-of-type{
    flex: 3;
    text-align: justify;
}
.contacto div a{
    display: block;
}

footer p {
    text-align: center;
    padding: 2em;
    color: var(--gray);
}

i {
    color: var(--gray);
}

.plan h1 {
    color: var(--primary);
}

.specs h3 {
    color: var(--primary);
}

.c-plan h2 {
    color: var(--primary);
}